<div *ngIf="dataLoaded==false" class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table ">
    <thead class="table-info">
        <tr>
            <th>Renk Listesi</th>          
        </tr>
    </thead>
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Renk</th>
        </tr>
    </thead>  
    <tr *ngFor="let color of colors">
        <td>{{color.colorId}}</td>
        <td>{{color.colorName}}</td>
    </tr>
</table>
