<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="#" class="btn btn-dark">
      <img src="assets/svg/rentacar.png"
        width="100px" height="20px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tester">Tester</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/cars"  >Kiralık Araçlar</a>
        </li>
        <li>
          <app-rent-summary></app-rent-summary>
        </li>
        <li>
          <app-admin-panel *ngIf="getRole(admin)"></app-admin-panel>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Hoş Geldiniz" aria-label="Search">
        <button class="btn btn-outline-success" *ngIf="!getItem()"routerLink="/login" class="btn btn-dark">Login</button>
        <button class="btn btn-outline-success" id="logout" class="btn btn-secondary" *ngIf="getItem()" [class]="getName()" (click)="logOut()">{{name}}</button>
      </form>
    </div>
  </div>
</nav>