<div class="card">
  <div class="card-header">
    <h4 class="title">Renk Ekle</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="colorAddForm">
      <div class="form-group">
        <input
          type="text"
          id="colorName"
          formControlName="colorName"
          class="form-control"
          placeholder="Renk adını girin"
        />
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-fill btn-warning" (click)="colorAdd()">Ekle</button>
  </div>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let color of colors">
      <div class="card">
        <img
          src="{{color.colorLogo}}"
          (click)="setCurrentColor(color)"
          class="card-img-top"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        />
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Yapmak İstediğiniz İşlemi Seçin</h5>

                            </div>
                            <div class="modal-body">
                                <img src="{{currentColor.colorLogo}}" *ngIf="currentColor" id="modal-logo">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="colorDelete()" >Sil</button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1"
                                    >Güncelle</button>
                                <div class="modal fade" id="exampleModal1" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <form  [formGroup]="colorUpdateForm">
                                                    <div class="form-group">
                                                        
                                                        <input type="text" id="colorLogoAdress" 
                                                        formControlName="colorLogo" class="form-control"
                                                        placeholder="Renklogosunun adresini girin ;
                                                        " >
                                                        
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="card-footer">
                                                <button type="button" class="btn btn-secondary" (click)="colorUpdate()">Güncelle</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
    </div>
  </div>
</div>
