<div *ngIf="dataLoaded==false" class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<thead class="list-group-item">
    <tr>
        <th>Mevcut Markalar</th>          
    </tr>
</thead>
<ul class="list-group">
    <li [class]="getAllCarClass()" routerLink = "/cars">Tüm Arabalar</li>
    <li (click)="setCurrentBrand(brand)" 
    routerLink = "/cars/brand/{{brand.brandId}}"
    *ngFor="let brand of brands"
     [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
</ul>

<h5 *ngIf="currentBrand">{{currentBrand.brandName}} Seçtiniz </h5>
