<div class="card">
    <div class="card-header">
        <h4 class="title"> Marka Ekle</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="brandAddForm">
            <div class="form-group">
                <input type="text" id="brandName" formControlName="brandName" class="form-control"
                    placeholder="Marka İsmi">

            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-fill btn-warning" (click)="brandAdd()"> Ekle </button>
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let brand of brands">
            <div class="card">
                <img src="{{brand.brandLogo}}" (click)="setCurrentBrand(brand)" 
                   class="card-img-top" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Yapmak İstediğiniz İşlemi Seçin</h5>

                            </div>
                            <div class="modal-body">
                                <img src="{{currentBrand.brandLogo}}" *ngIf="currentBrand" id="modal-logo">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="brandDelete()">Sil</button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1"
                                    >Güncelle</button>
                                <div class="modal fade" id="exampleModal1" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <form  [formGroup]="brandUpdateForm">
                                                    <div class="form-group">
                                                        
                                                        <!-- <input type="number" id="brandId" 
                                                        formControlName="brandId" class="form-control"
                                                        placeholder="Marka Id " > -->
                                                        <input type="text" id="brandLogoAdress" 
                                                        formControlName="brandLogo" class="form-control"
                                                        placeholder="Marka logosunun adresini girin ;
                                                        Örnek : https://brandlogo.png" >
                                                        
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="card-footer">
                                                <button type="button" class="btn btn-secondary" (click)="brandUpdate()">Güncelle</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>