.card-img-top{
    height: 150px;
    width: 150px;
    
}

.col{
    height: 200px;
    width: 200px;
}

.modal-title{
 margin-left: 80px;
}

#modal-logo{
    height: 400px; 
    width: 400px;
    margin-left: 50px;
}