<body class="text-center" style="background-image: url(assets/svg/bmwcars.png)">
  <main class="form-signin">
    <form [formGroup]="loginForm">
      <img
        class="mb-4"
        src="assets/svg/rentacar.png"
        alt=""
        width="300"
        height="57"
      />

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">E-posta</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          formControlName="password"
          placeholder="Password"
        />
        <label for="floatingPassword">Parola</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click)="login()">
        Giriş Yap
      </button>
      <button
        class="w-100 btn btn-lg btn-warning"
        id="register"
        data-bs-toggle="modal"
        data-bs-target="#exampleModaltest"
      >
        Kayıt Ol
      </button>

      <app-register></app-register>
    </form>
  </main>
</body>
