.card {
  width: 15rem;
  border-color: orange;
  border-width: 14px;
  border-radius: 20px;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
}

#trash {
  color: orange;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#picture {
  color: orange;
  font-size: 25px;
  position: absolute;
  top: 12%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#update {
  color: orange;
  font-size: 25px;
  position: absolute;
  top: 88%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#uploadHeader {
  border: none;
  margin-left: 70px;
}

#logo {
  width: 200px;
  height: 50px;
  margin-left: 60px;
}
