<div  class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Admin
    </a>
  
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
      
      <li ><a class="dropdown-item"type="button" routerLink="cars/add"  >Car Add</a></li>
      <li ><a class="dropdown-item"type="button" routerLink="admin/test"  >TEST</a></li>
      
    </ul>
  </div>
