#icon {
  width: 80px;
  height: 70px;
  margin-left: 70px;
  
}

.card-title {
  margin-top: 7px;
  margin-left: 37px;
}

.card {
  border: none;
  background-color: whitesmoke;
  border-radius: 50%;
}
#exampleModalLabel{
    margin-left: 20px;
}