<div *ngIf="dataLoaded==false" class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table " >
    <thead class="table-info">
        <tr>
            <th>Kira Listesi</th>          
        </tr>
    </thead>
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Müşteri Adı Soyadı</th>
            <th>E-Mail</th>
            <th>Araç Marka</th>
            <th>Kiralanma Tarihi</th>
        </tr>
    </thead>
    <tr  *ngFor="let rental of rentals" >
        <td>{{rental.id}}</td>
        <td>{{rental.customerName}} {{rental.customerLastName}}</td>
        <td>{{rental.customerEmail}}</td>
        <td>{{rental.carBrand}}</td>
        <td>{{rental.rentDate}}</td>
    </tr>
</table>
