<!-- <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModaltest"
>
  test
</button> -->

<div
  class="modal fade"
  id="exampleModaltest"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" id="modal-box">
    <div class="modal-content" id="modal-radius">
      <div class="modal-header" style="border: none;">
        <img  id="register-img" src="assets/svg/rentacar.png">
      </div>
      <div class="modal-body" id="body">
        <form
          [formGroup]="registerForm"
          
          class="form-register"
        >
          <div class="form-floating">
            <input
              type="text"
              id="firstName"
              name="firstName"
              formControlName="firstName"
              class="form-control"
              placeholder="Ad"
              
            />
            <label for="firstName">Ad</label>
          </div>
          <div class="form-floating">
            <input
              style="margin-top: 10px;"
              type="text"
              id="lastName"
              name="lastName"
              formControlName="lastName"
              class="form-control"
              placeholder="Soyad"
              
            />
            <label for="lastName">Soyad</label>
          </div>
          <div class="form-floating">
            <input
              style="margin-top: 10px;"
              type="email"
              id="email"
              name="email"
              formControlName="email"
              class="form-control"
              placeholder="E-mail"
              
            />
            <label for="email">E-Posta</label>
          </div>
          <div class="form-floating">
            <input
            style="margin-top: 10px;"
              type="password"
              id="password"
              name="password"
              formControlName="password"
              class="form-control"
              placeholder="Şifre"
            />
            <label for="password">Şifre</label>
          </div>
          <div class="form-floating">
            <input
              style="margin-top: 10px;"
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Şifre"
            />
            <label for="confirmPassword">Şifre Doğrulama</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Vazgeç</button>
        <button  class="btn  btn-warning btn-block"
        [disabled]="!registerForm.valid"
        type="button" data-bs-dismiss="modal" style="margin-right: 10px;" (click)="register()">
          Kayıt Ol
        </button>
        
      </div>
    </div>
  </div>
</div>