<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title"> Araba Ekle</h5>
                    <div class="card-body">
                        <form [formGroup]="carAddForm">
                            <div class="form-group">
                                <input type="text" id="carName" formControlName="carName" class="form-control"
                                    placeholder="Araç Plakası">
                            </div>
                            <div class="form-group">
                                <input type="number" id="brandId" formControlName="brandId" class="form-control"
                                    placeholder="Marka">
                            </div>
                            <div class="form-group">
                                <input type="text" id="description" formControlName="description" class="form-control"
                                    placeholder="Model">
                            </div>
                            <div class="form-group">
                                <input type="number" id="colorId" formControlName="colorId" class="form-control"
                                    placeholder="Renk">
                            </div>
                            <div class="form-group">
                                <input type="number" id="modelYear" formControlName="modelYear" class="form-control"
                                    placeholder="Model Yılı">
                            </div>
                            <div class="form-group">
                                <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control"
                                    placeholder="Günlük Ücret">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-fill btn-primary" (click)="carAdd()">Ekle</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title"> Resim Ekle</h5>
                    <div class="card-body">
                        <app-image-upload></app-image-upload>
                    </div>
                </div>
            </div>
        </div>
    </div>