#form {
  width: 300px;
  margin-top: 10px;
}

.form-group {
  margin-bottom: 10px;
}

#img {
  width: auto;
  height: 150px;
  margin-left: 40px;
  border-width: 10px;
  border-color: black;
}

#card-a {
  border-color: black;
  border-width: 7px;
  border-radius: 50px;
}

#card-b {
  border: none;
  border-radius: 50px;
}

.modal-content {
  background-color: whitesmoke;
  border-radius: 20px;
}

#header1 {
  margin-left: 10px;
}

#credit-card-img {
  width: 260px;
  height: 150px;
  margin-left: 25px;
}
