<div *ngIf="dataLoaded==false" class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table ">
    <thead class="table-info">
        <tr>
            <th>Müşteri Listesi</th>          
        </tr>
    </thead>
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Müşteri Adı Soyadı</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tr *ngFor="let customer of customers">
        <td>{{customer.customerId}}</td>
        <td>{{customer.customerName}} {{customer.customerLastName}}</td>
        <td>{{customer.email}}</td>
    </tr>
</table>
