.fa{
    color:grey;
    font-size:25px;
    position: absolute;
    top: 50%;
    left:95%;
    transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    
  }
  .card{
      margin-top: 5px;
  }

  .card:hover .overlay {
    opacity: 1;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
  
  }