#gallery {
  margin-top: 55px;
}

#header1 {
  margin-left: 120px;
  margin-top: 20px;
  color: white;
}
#card-a {
  max-width: 25rem;
  background-color: rgb(54, 53, 53);
  border: none;
  margin-left: 110px;
  margin-top: 50px;
}

#card-b {
  max-width: 25rem;
  background-color: rgb(54, 53, 53);
  border-color: orangered;
  border-style: solid;
  border-width: 6px;
  border-radius: 50px;
}

.card-body{
    margin-left: 50px; 
    color: white; border: none;
}