#gallery{
    margin-top: 25px;
}

#header2{
    color: white;
    margin-left: 320px;
}

#info{
    color: white;
    margin-left: 250px;
    margin-top: 23px;
}

#header1{
    margin-left: 20px;
}

#date{
    margin-left: 230px;
}