<div class="container-fluid">
    <div class="row">
        <div class="col-md-7" id="gallery">  
            <div class="row row-cols-1 row-cols-md-2 g-4" gallerize>
                <div class="col" *ngFor="let item of items">
                    <div class="card">
                        <img [src]="item.data.thumb" style="height: 180px" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5" *ngIf="carDetail">
            <div class="card text-white  mb-3" id="card-a" >
                <div class="card text-dark  mb-3" id="card-b">
                    <div class="card-header"  style="border: none;"><h1 id="header1"><Strong>Araç Bilgileri</Strong></h1></div>
                    <div class="card-body" >
                        <ul>
                            <strong style="margin-right: 20px;">Plaka : </strong>{{
                            carDetail.carName
                            }}
                        </ul>
                        <ul>
                            <strong style="margin-right: 20px;">Marka-Model : </strong>{{
                            carDetail.brandName
                            }}
                            {{
                            carDetail.desciription
                            }}
                        </ul>
                        <ul>
                            <strong style="margin-right: 20px;">Model Yılı : </strong>{{
                            carDetail.modelYear
                            }}
                        </ul>
                        <ul>
                            <strong style="margin-right: 20px;">Günlük Ücret : </strong>{{
                            carDetail.dailyPrice | lira
                            }}
                        </ul>
                        <ul>
                            <strong style="margin-right: 20px;">Findeks Puanı: </strong>{{
                            carDetail.carFindeksPoint
                            }}
                        </ul>
                        <mat-form-field appearance="fill" color="warn" id="date" style="width: 300px; color: white;">
                            <mat-label style="color: white;" >Araç Kiralama ve Dönüş tarihi seçin</mat-label>

                            <mat-date-range-input [rangePicker]="picker"  >
                                <input  matStartDate placeholder="Kiralama Tarihi" [(ngModel)]="rentDate"
                                class="form-control" 
                                     />
                                <input matEndDate placeholder="Dönüş Tarihi" [(ngModel)]="returnDate"
                                class="form-control"
                                     />
                            </mat-date-range-input>

                            <mat-datepicker-toggle matSuffix [for]="picker" style="color: white;"  >
                            </mat-datepicker-toggle>

                            <mat-date-range-picker  touchUi #picker ></mat-date-range-picker>
                        </mat-form-field>

                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-warning" (click)="rentCar()" style="margin-top: 30px; margin-bottom: 20px;">
            Ödeme Adımına Geç
        </button>
    </div>
</div>